# this is read by the standalone daemon and embedded servers
[server]
user=root
# this is only for the mysqld standalone daemon
[mysqld]
user = root
skip-networking = false
socket = /var/run/mysqld/mysqld.sock
bind-address=0.0.0.0
